/** GAME STYLES **/

/* Game Toggle styles */

#undo.disabled, #redo.disabled 
{
	cursor: default;
}

.clock 
{
	border: 1px solid #DDD;
	width: 100%;
}


/* Temporary game board styles */
.game-board 
{
	margin-right: 0;
	margin-left: 0;
	background-color: #FAFAFA;
	border: 1px solid #E1E1E8;
	border-radius: 40px 40px 40px 40px;

	min-height: 300px;
}

.player-game
{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;

	vertical-align: center;
	margin-bottom: 20px;
	margin-top: 20%;

	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 2vw;
	word-wrap: break-word;

	border: 1px solid #1F1F1F;
	background-color: none;
	border-radius: 10px;

	overflow: hidden;
}

.player-game p
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
}

.player-game.empty
{
	border-style: dashed;
}

.player-game.position-selected
{
	border-width: 1px;
	border-color: rgba(255, 224, 60, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 224, 60, 0.6);
	outline: 0 none;
}

/** Lineup and Player pool styles **/
.pool
{
	margin-right: 0;
	margin-left: 0;
	border-width: 1px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 14px 14px;
	border: 1px solid #E1E1E8;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Lineup stlyes */
.game-lineup-template
{
	opacity: 0.25;

	-webkit-transition: opacity 0.25s ease-in;
	-moz-transition: opacity 0.25s ease-in;
	-ms-transition: opacity 0.25s ease-in;
	-o-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
}

.game-lineup-template .lineup
{
	height: 90px;
	width: 90px;
	line-height: 86px;
	margin-top: 2px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 12px;

	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20pt;

	border: 2px solid #1F1F1F;
	background-color: #343434;
	border-radius: 10px;

	overflow: hidden;
}

.game-lineup-template .lineup-title
{
	/* Centering the title */
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 25%;
	margin-bottom: 25%;
	margin-right: -50%;
	transform: translate(-50%,-50%);

	/* Font attributes*/
	font-size: 18pt;
}

.game-lineup-template.mouseover 
{
	visibility: visible;
	opacity: 1;
}

/*Player pool styles*/
.game-player
{
	opacity: 0.25;

	-webkit-transition: opacity 0.25s ease-in;
	-moz-transition: opacity 0.25s ease-in;
	-ms-transition: opacity 0.25s ease-in;
	-o-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
}

.game-playerpool
{
	background-color: #fff;
}

.game-player.mouseover 
{
	visibility: visible;
	opacity: 1;
}
