/* WIP style for player pool in Linup */
.player-pool
{
	max-height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Style for player in lineups */
.player-lineup
{
	height: 90px;
	width: 90px;
	line-height: 86px;
	margin-top: 2px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 12px;

	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20pt;

	border: 2px solid #1F1F1F;
	background-color: #343434;
	border-radius: 10px;

	overflow: hidden;
}

/* Lineup specific styles */
.lineup
{
	width: 100%;
	margin-top: 2px;
}

.lineup-title
{
	margin-top: 6px;
}

.lineup-template .btn-danger
{
	margin-top: 10px;
	margin-bottom: 4px;
	margin-left: 10px;
}

.lineup-template .btn-primary
{
	margin-top: 4px;
	margin-bottom: 10px;
	margin-left: 10px;
}

/** Create lineup modal styles **/
/* Styles for the cancel button */
.modal .modal-header .btn 
{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
}

.modal .modal-header h4
{
	text-rendering: auto;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.slideLeft
{
	margin-right: 39px;
	border-top-right-radius: 0;
}

/* Styles for the confirm button */
.modal .modal-header .btn-save
{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.modal .modal-body h4
{
	text-transform: uppercase;
}

.modal .modal-body .btn-group-justified
{
	margin-top: -15px;
}

.player-lineup-new
{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;

	vertical-align: center;
	margin-bottom: 20px;

	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 2vw;
	word-wrap: break-word;

	border: 2px solid #1F1F1F;
	background-color: #343434;
	border-radius: 10px;

	overflow: hidden;
}

/* Styles highlighting the position currently being modified */
.position-selected
{
	border: 2px solid #FFE03C;
	border-color: rgba(255, 224, 60, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 224, 60, 0.6);
	outline: 0 none;
}

/* Styles for players added to the new lineup */
.player-lineup-new p
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
}

.modal .modal-body .container-roster
{
	margin-top: 40px;
}

/* Styles for the navigation buttons */
.modal-footer.center
{
	text-align: center;
}

.modal-footer .btn-group .btn
{
	width: 95px;
}

