/* Hidden horizontal scroll bar */
body
{
	overflow-x: hidden;
}

/* Footer Properties */
.mastfoot
{
	position: fixed;
	width: 100%;
	bottom:0px;
	padding: 5px;
	background-color: #F8F8F8;
	border-style: solid;
	border-width: 1px;
	border-color: #E7E7E7;
}

/* Centered Columns */
.row-centered 
{
	text-align:center;
}
.col-centered 
{
	float: none;
	margin: 0 auto;
}

/* Override colour for player info panels */
input[readonly].player-info
{
	background-color: #fff;
}

/* Style for selected player */
.player-focused
{
	border-color: rgba(126, 239, 104, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	outline: 0 none;
}

/* Style for player in the roster listing */
.player-card
{

}

/* WIP style for player pool in Linup */
.player-pool
{
	max-height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Style for player in lineups */
.player-lineup
{
	height: 90px;
	width: 90px;
	line-height: 86px;
	margin-top: 2px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 12px;

	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20pt;

	border: 2px solid #1F1F1F;
	background-color: #343434;
	border-radius: 10px;

	overflow: hidden;
}

.text-vertical-centered
{
	line-height: normal;
	vertical-align: middle;
}

/* Disable text selection */
.noselect 
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

/* Lineup specific styles */
.lineup
{
	width: 100%;
	margin-top: 2px;
}

.lineup-title
{
	margin-top: 6px;
}

.btn-neutral
{
	border-color: #B8B8B8;
}

.modal .modal-header .btn 
{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
}

.modal-footer.center
{
	text-align: center;
}

.modal-footer .btn-group .btn
{
	width: 95px;
}
