.DS_Store
bower_components/
node_modules/
.tmp/
dist/
app/views/analytics.html
app/views/contact.html
app/views/features.html
app/views/overview.html
app/views/reports.html
app/views//partials/sidebar.html
