<div class="container-fluid">
	<h4 class="text-center">{{ newTitle }}</h4>

	<div class="col-xs-2 col-xs-offset-4 noselect">
		<div class="player-line-new" ng-class="{'position-selected': currentPage === 0, 'error': newLine[0].playerStatus === false}" ng-click="setPage(0)">
			<p class="placeholder" ng-show="!newLine[0]">D</p>
			<p ng-show="newLine[0]">#{{ newLine[0].playerNumber }}</p>
		</div>
	</div>
	<div class="col-xs-2 noselect">
		<div class="player-line-new" ng-class="{'position-selected': currentPage === 1, 'error': newLine[1].playerStatus === false}" ng-click="setPage(1)">
			<p class="placeholder" ng-show="!newLine[1]">D</p>
			<p ng-show="newLine[1]">#{{ newLine[1].playerNumber }}</p>
		</div>
	</div>
</div>
