<!-- Game Flags -->
<div class="row row-centered" style="padding-bottom: 12px">
	<!-- Undo/Redo buttons -->
	<div class="col-xs-2 col-xs-offset-1">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default" ng-click="undo()"><i class="fa fa-undo"></i></button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default" ng-click="redo()"><i class="fa fa-repeat"></i></button>
			</div>
		</div>
	</div>

	<!-- Period Flag buttons -->
	<div class="col-xs-4 col-xs-offset-1">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default">1st</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default">2nd</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default">3rd</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default">OT</button>
			</div>
		</div>
	</div>

	<!-- Game Timer -->
	<div class="col-xs-2 col-xs-offset-1" ng-init="startTime = false">
		<p class="clock" ng-if="startTime"><span id="hours" ng-show="gameHours">{{ gameHours }} :</span><span id="minutes" ng-show="gameMinutes"> {{ gameMinutes }} :</span><span id="seconds"> {{ addPadding(gameSeconds) }}</span></p>
		<p class="clock" ng-if="!startTime">00.000</p>
	</div>
	<div class="col-xs-1" ng-init="gameInPlay = false">
		<button type="button" class="btn btn-success" ng-show="!gameInPlay" ng-click="gameInPlay = !gameInPlay; startTimer()">Start</button>
		<button type="button" class="btn btn-danger" ng-show="gameInPlay" ng-click="gameInPlay = !gameInPlay; stopTimer()">Stop</button>
	</div>
</div>