<div class="row">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<h4 class="lineup-title">{{ lineup.lineupTitle }}</h4>
	</div>
</div>
<div class="row lineup-template" ng-mouseenter="showLineupTools = true" ng-mouseleave="showLineupTools = true">
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 player-lineup noselect" data-drop="dropToggle" ng-model="lineup.leftWing" jqyoui-droppable="{onDrop: 'addLeftWing(lineup, $index)'}">
		#{{ lineup.leftWing.playerNumber }}
	</div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 player-lineup noselect" data-drop="dropToggle" ng-model="lineup.center" jqyoui-droppable="{onDrop: 'addCenter(lineup, $index)'}">
		#{{ lineup.center.playerNumber }}
	</div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 player-lineup noselect" data-drop="dropToggle" ng-model="lineup" jqyoui-droppable="{onDrop: 'addRightWing(lineup, $index)'}">
		#{{ lineup.rightWing.playerNumber }}
	</div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 player-lineup noselect" data-drop="dropToggle" ng-model="lineup" jqyoui-droppable="{onDrop: 'addDefence1(lineup, $index)'}">
		#{{ lineup.defence1.playerNumber }}
	</div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 player-lineup noselect" data-drop="dropToggle" ng-model="lineup" jqyoui-droppable="{onDrop: 'addDefence2(lineup, $index)'}">
		#{{ lineup.defence2.playerNumber }}
	</div>

	<!-- Lineup tools -->
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2" ng-init="showLineupTools = false" ng-show="showLineupTools">
		<!-- Delete button -->
		<div class="row lineup-template">
		<button type="button" class="btn btn-danger" ng-click="lineups.splice($index, 1)"><span class="glyphicon glyphicon-remove"></span></button>
		</div>
		<!-- Edit button -->
		<div class="row lineup-template">
		<button type="button" class="btn btn-primary" ng-click="editLineup($index)"><span class="glyphicon glyphicon-pencil"></span></button>
		</div>
	</div>
</div>