<nav class="navbar navbar-default navbar-top">

	<div class="container-fluid">
		<!-- Nav Header -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Hockey App Nav Bar</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Hockey App {{ main.version }}{{ main.path() }}</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li ng-class="{active: $path() == '/game'}"><a href="/test">Test</a></li>
				<li ng-class="{active: $path() == '/game'}"><a href="/game">Game</a></li>
				<li class="dropdown" ng-class="{active: $path() == '/roster'}" dropdown><a href="/roster" class="dropdown-toggle" data-toggle="dropdown" role="button">Roster</a>
					<ul class="dropdown-menu pull-center" role="menu">
						<li ng-class="{active: $path() == '/lineups'}"><a href="/lineups">Lineups</a></li>
					</ul>
				</li>
				<li ng-class="{active: $path() == '/team'}"><a href="/team">Team</a></li>
				<li ng-class="{active: $path() == '/settings'}"><a href="/settings">Settings</a></li>
				<li class="active"><a href="/user">{{ main.user }}</a></li>
			</ul>
		</div>
	</nav>