<div class="jumbotron container text-center">
	<h1>Game Page</h1>
</div>

<!-- Game Buttons -->
<div class="container-fluid">

	<!-- Game Flags -->
	<div class="row row-centered" style="padding-bottom: 12px">
		<div class="col-xs-4 col-xs-offset-4">
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default">1st</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default">2nd</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default">3rd</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default">OT</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Functional Components -->
	<div class="col-sm-2">
		<div class="row">
			<!-- Placeholder For History-->
			<p style="text-align: right" ng-repeat="action in lineups.slice().reverse()"> {{ action }} </p>
		</div>
	</div>
	<div class="col-sm-6 col-sm-offset-1"><div class="jumbotron text-center"></div></div>
	<div class="col-sm-3">
		<div class="row">
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" aria-label="...">SO+</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" aria-label="...">SA+</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" aria-label="...">G+</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" aria-label="...">SO-</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" aria-label="...">SA-</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" aria-label="...">G-</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Player Lineups -->

<div class="container">
	<div class="container text-center" ng-repeat="lineup in lineups"> <!-- consider using linup in lineups( {{ main.linupsToDisplay }} ) to restrict the number of repeats -->
		<span>{{ lineup }}</span>
	</div>
</div>
