<!-- Game Buttons -->
<div class="container-fluid">

	<!-- Game Flags -->
	<game-toggles></game-toggles>

	<!-- Functional Components -->
	<game-history></game-history>

	<game-board></game-board>

	<!-- Game Buttons -->
	<game-buttons></game-buttons>
</div>

<!-- Player Lineups -->

<div class="container">
	<ul class="nav nav-tabs" style="border-bottom: none" ng-init="showLineup = true">
		<li ng-class="{active: showLineup}" ng-click="showLineup = true"><a href="#">Lineups</a></li>
		<li ng-class="{active: !showLineup}" ng-click="showLineup = false"><a href="#">Players</a></li>
	</ul>
	<div class="container text-center pool"> <!-- consider using linup in lineups( {{ main.linupsToDisplay }} ) to restrict the number of repeats -->
		<div ng-if="showLineup" ng-repeat="lineup in lineups">
			<game-lineup></game-lineup>
		</div>
		<div ng-if="!showLineup" ng-repeat="player in players">
			<game-player></game-player>
		</div>
	</div>
</div>
