<div class="container-fluid">
	
	<!-- Warning Messages -->
	<div class="alert alert-success" role="alert" style="display: none" id="success">Javascript loaded.</div>
	<div class="alert alert-warning" role="alert" style="display: none" id="warning">Errors in Javascript.</div>
	<div class="alert alert-danger" role="alert" id="danger">Javascript not loaded.</div>

	<!-- Lineups -->
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-10">
		
		<!-- Header -->
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<h2>Lineups</h2>
			</div>

			<div class="col-lg-1-offset-0">
				<h2 ng-click="createNewLineup()"><button type="button" class="btn btn-success" >Add New Lineup</button></h2>
			</div>
		</div>

		<!-- Lineups -->
		<div class="container">
			<div class="row lineup" ng-repeat="lineup in lineups">
				<lineup-template></lineup-template>
			</div>
		</div>
	</div>

	<!-- Player pool -->
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">

		<!-- Header -->
		<div class="row">
			<h2>Top Players</h2>
			-SIMPLE PLAYER STATISTICS-
		</div>
	</div>

</div>