<div class="jumbotron text-center">
	<h1>Roster Page</h1>
</div>

<div class="container">

	<!-- Warning Messages -->
	<div class="alert alert-success" role="alert" style="display: none" id="success">Javascript loaded.</div>
	<div class="alert alert-warning" role="alert" style="display: none" id="warning">Errors in Javascript.</div>
	<div class="alert alert-danger" role="alert" id="danger">Javascript not loaded.</div>

	<h1>Roster</h1>
	<div class="container">	
		<div class="row" style="margin-bottom: 36px">
			<roster-input></roster-input>
		</div>
		<div class="row">
			<div class="col-xs-4" ng-repeat="player in players | filter: playerInfo | orderBy: 'playerNumber'">
				<roster-player></roster-player>
			</div>
		</div>
	</div>

</div>