<div class="jumbotron text-center">
	<h1>Team Page</h1>
	<p>The purpose of this page is to:</p>
	<ul style="list-style-type: none">
		<li>View statistics an a whole team basis</li>
		<li>View team statistics on a game by game basis</li>
		<li>Compare players on a game by game basis</li>
		<li>Compare players wholeistically</li>
	</ul>
	<p>This page will be completed in a future update</p>
</div>
<div class="container">
	<ul ng-repeat"entry in entries">
	<h4>{{ entry.name }}</h4>
	</ul>
	<form ng-submit="postTest()">
		<input type="text" placeholder="name" ng-model="entryName"></input>
		<input type="submit"></input>
	</form>
</div>